@model GroupShareKitSample.Models.TermbaseViewModel

<div class="col-md-6">
    <h4>Search results</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Term</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var term in Model.SearchResult)
            {
                <tr>
                    <td>
                        <a onclick="termDetails('@term.TermbaseId', @term.ConceptId)"> @term.TermText</a>

                    </td>

                    <td>
                        <a onclick="removeTerm('@term.TermbaseId', @term.ConceptId)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>