@using System.Web.Services.Protocols
@using System.Web.UI.WebControls
@model GroupShareKitSample.Models.Account

@{
    ViewBag.Title = "Login";
}


<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content" id="loginModalContent">
            <div class="modal-body" >
                <div class="">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div id="logo">
                            <img id="logoImg"src="~/Content/Images/sdlLogo.svg"/>
                        </div>

                        <div class="input-group margin-bottom-sm margin">
                            <span class="input-group-addon"><i class="fa fa-users"></i></span>
                            @Html.TextBoxFor(u => u.UserName, new {@class = "form-control", placeholder = "User name"})

                        </div>
                        <div class="input-group margin-bottom-sm margin">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            @Html.PasswordFor(u => u.Password, new {@class = "form-control", placeholder = "Password"})
                        </div>
                        <div class="input-group margin-bottom-sm margin" id="gsLink">
                            <span class="input-group-addon"><i class="fa fa-link"></i></span>
                            @Html.TextBoxFor(u => u.GsLink, new {@class = "form-control", placeholder = "Gropshare link"})

                        </div>
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="input-group margin-bottom-sm margin">
                            <button type="submit" class="btn btn-success" > <i class="fa fa-sign-in"></i> Sign in</button>
                        </div>
                   
                    }

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function() {
            $('#loginModal').modal('show');
        });
    </script>
}



