@using System.Web.Mvc.Html
@model GroupShareKitSample.Models.TermbaseViewModel

<div class="row">
    <div class="col-md-12">
        <h4 class="textAlign">Search termbase</h4>
    </div>
    
</div>

<div class="row">
    <div>
        <div class="col-md-12">
            <form id="searchForm">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="tbselect" class="col-md-2 control-label textAlign">Termbase:</label>
                        <select class="form-control" name="tbselect" id="tbselect" onchange="termbaseSelect()">
                            @foreach (var termbase in Model.Termbases)
                            {
                                <option value="@termbase.Id">@termbase.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label textAlign">Language:</label>
                        <select class="form-control" id="languageSelect">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label textAlign">Searched term:</label>
                        <input type="text" placeholder="Term searched" class="form-control col-md-10" id="searchedTerm" name="searchedTerm" required/>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" onclick="searchTermbase()"> <i class="fa fa-search"></i> Search</button>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<div class="row">
    <div id="termbaseSearchResults">


    </div>
    <div id="termDetails">
        
    </div>
</div>
    

@section scripts{
    <script type="text/javascript">
        document.getElementById('searchForm').onsubmit = function (e) {
            e.preventDefault();
        }
        
        $("#tbselect").val("tbselect").change();
        function searchTermbase() {
            $('#termDetails').empty();
            var term = $('#searchedTerm').val();
            var language =document.getElementById('languageSelect').value;
            var termbaseId = document.getElementById('tbselect').value;
            $.ajax({
                url: '@Url.Action("Search")',
                cache: false,
                data: { 'term': term, 'language': language, 'termbaseId': termbaseId },
                success: function (response) {
                    $('#termbaseSearchResults').html(response);
                }
            });
        }
        function termbaseSelect() {
            $('#languageSelect').empty();
            var tbId = document.getElementById('tbselect').value;
            var tbList = @Html.Raw(Json.Encode(Model.Termbases));
            var languages = [];
            var selectedTb = $.grep(tbList, function(element, index) {
                return element.Id === tbId;
            });
        if (selectedTb.length > 0) {
            selectedTb[0].LanguageDirections.forEach(function(item) {
                languages.push({ value: item.SourceDisplayName });
            });
        }
       
        var languageSelect = document.getElementById('languageSelect');
        for (var i=0; i < languages.length; i++) {
            var opt = document.createElement("option");
            opt.value = languages[i].value;
            opt.innerHTML = languages[i].value;
            languageSelect.appendChild(opt);
        }

        }
        function termDetails(termbaseId,conceptId) {
            $.ajax({
                url: '@Url.Action("TermDetails")',
                chache: false,
                data: { 'termbaseId': termbaseId, 'conceptId': conceptId },
                success:function(response) {
                    $('#termDetails').html(response);
                }
            });
        }
        function removeTerm(termbaseId, conceptId) {
            var term = $('#searchedTerm').val();
            var sourceLang = $('#sourceLang').val();
            var targLang = $('#targLang').val();
            $.ajax({
                url: '@Url.Action("DeleteConcept")',
                chache: false,
                data: { 'termbaseId': termbaseId, 'conceptId': conceptId, 'term': term, 'sourceLanguage': sourceLang, 'targetLanguage': targLang },
                success: function(response) {
                    $('#termbaseSearchResults').html(response);
                }

            });
        }
        function showAddArea(areaId) {
            document.getElementById(areaId).style.display = 'initial';
        }
        function hideAddAria(areaId) {
            document.getElementById(areaId).style.display = 'none';
        }
        function addTerm(languageId, conceptId,fieldId) {
            var termbaseSelect = document.getElementById('tbselect');
            var termbaseId = termbaseSelect[termbaseSelect.selectedIndex].value;
            var newTerm = document.getElementById(fieldId).value;

            $.ajax({
                url: '@Url.Action("AddTerm")',
                chache: false,
                data: { 'termbaseId': termbaseId, 'conceptId': conceptId, 'newTerm': newTerm, 'languageCode': languageId },
                success: function(response) {
                    $('#termDetails').html(response);
                }
            });
        }
    </script>
}
